<ion-header [translucent]="true" class="ion-no-border">
  
  <div class="toros"></div>
  <ion-toolbar>
    <ion-title>
      <ion-img class="logo" src="/assets/logo.jpg"></ion-img>
    </ion-title>
  </ion-toolbar>

  <div class="submenu2"></div>  
  <!-- <div class="submenu">
    PREMIO MEJOR MEDIO DE PRENSA PUBLICADO EN LENGUA EXTRANJERA - MINISTERIO DE LA DIASPORA DE ARMENIA 2015
  </div> -->
  
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-noticias [noticias]="noticias"></app-noticias>

</ion-content>
